Hardware Requirements:
Processor		-	Pentium –IV
Speed		        -    	1.1 GHz
RAM		        -    	256 MB(min)
Hard Disk		-   	20 GB
Key Board		-    	Standard Windows Keyboard
Mouse		        -    	Two or Three Button Mouse
Monitor	                -    	SVGA

Software Requirements:
Operating System		: Windows95/98/2000/XP/7.
Application Server	        : Tomcat6.0/7.X.
Front End			: HTML, CSS, JAVASCRIPT.
Server side Script		: PHP.
Database			: Mysql




